<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Estudando Programação</h1>
    </header>
    <br>
    <section>
        <h3>HTML</h3>
        <h4>Aula 01 - Primeiras tag</h4>
        <p>Para criar um págia em <strong>HTML</strong>, e necessário usar as <strong>Tags</strong> que forma a estrutura da página.</p>
        <img src="">

    </section>
    <br>
    <foote>

    </foote>
    
</body>
</html>