<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Estudando Programação</h1>
    </header>
    <br>
    <section>
        <h3>HTML</h3>
        <h4>Aula 01 - Primeiras tag</h4>
        <p>Para criar um págia em <strong>HTML</strong>, é necessário usar as <strong>Tags</strong> que forma a estrutura da página.</p>
        <h4>Strutura Basíca</h4>
        <img src="../static/imgs/Struture01.jpg">
        <br>
        <ul>
            <h4>DOCTYPE</h4>
            <li><img src="../static/imgs/Doctype.jpg"><br>
            <p>Declara o tipo de documento como HTML5.</p></li><br>
            <h4>Html</h4>
            <li><img src="../static/imgs/Html.jpg"><br>
            <p>Elemento raiz do documento HTML</p></li><br>
            <h4>Head</h4>
            <li><img src="../static/imgs/Head.jpg"><br>
            <p>Contém metadados sobre o documento, como título e codificação de caracteres.</p></li><br>
            <h4>Body</h4>
            <li><img src="../static/imgs/Body.jpg"><br>
            <p>Contém o conteúdo visível da página</p></li>
        </ul>

    </section>
    <br>
    <foote>

    </foote>
    
</body>
</html>